<div class="container">
  <div class="d-flex align-items-center justify-content-center">
    <h3>Welcome to Movie Watchlist</h3>
    <%= link_to "Create a New Movie List", new_list_path, class: 'btn btn-flat' %>
  </div>
  <div class="row">
    <% @lists.each do |list| %>
      <div class="col">

      </div>
    <% end %>
  </div>
</div>
